In [486]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [487]:
Tr = pd.read_csv("Documents/Compitition/train.csv")
Te = pd.read_csv("Documents/Compitition/test.csv")
Tr["Source"] = "Train"
Te["Source"] = "Test"

In [488]:
hme = pd.concat([Tr,Te],ignore_index=True, verify_integrity=True)

In [489]:
hme.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,...,ScreenPorch,Source,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
0,856,854,0,NaN,3,1Fam,TA,No,706.0,0.0,...,0,Train,Pave,8,856.0,AllPub,0,2003,2003,2008
1,1262,0,0,NaN,3,1Fam,TA,Gd,978.0,0.0,...,0,Train,Pave,6,1262.0,AllPub,298,1976,1976,2007
2,920,866,0,NaN,3,1Fam,TA,Mn,486.0,0.0,...,0,Train,Pave,6,920.0,AllPub,0,2001,2002,2008
3,961,756,0,NaN,3,1Fam,Gd,No,216.0,0.0,...,0,Train,Pave,7,756.0,AllPub,0,1915,1970,2006
4,1145,1053,0,NaN,4,1Fam,TA,Av,655.0,0.0,...,0,Train,Pave,9,1145.0,AllPub,192,2000,2000,2008

In [490]:
hme.describe()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,OverallQual,PoolArea,SalePrice,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
count,2919.000000,2919.000000,2919.000000,2919.000000,2918.000000,2918.000000,2917.000000,2917.000000,2918.000000,2919.000000,...,2919.000000,2919.000000,1460.000000,2919.000000,2919.000000,2918.000000,2919.000000,2919.000000,2919.000000,2919.000000
mean,1159.581706,336.483727,2.602261,2.860226,441.423235,49.582248,0.429894,0.061364,560.772104,23.098321,...,6.089072,2.251799,180921.195890,16.062350,6.451524,1051.777587,93.709832,1971.312778,1984.264474,2007.792737
std,392.362079,428.701456,25.188169,0.822693,455.610826,169.205611,0.524736,0.245687,439.543659,64.244246,...,1.409947,35.663946,79442.502883,56.184365,1.569379,440.766258,126.526589,30.291442,20.894344,1.314964
min,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,34900.000000,0.000000,2.000000,0.000000,0.000000,1872.000000,1950.000000,2006.000000
25%,876.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,220.000000,0.000000,...,5.000000,0.000000,129975.000000,0.000000,5.000000,793.000000,0.000000,1953.500000,1965.000000,2007.000000
50%,1082.000000,0.000000,0.000000,3.000000,368.500000,0.000000,0.000000,0.000000,467.000000,0.000000,...,6.000000,0.000000,163000.000000,0.000000,6.000000,989.500000,0.000000,1973.000000,1993.000000,2008.000000
75%,1387.500000,704.000000,0.000000,3.000000,733.000000,0.000000,1.000000,0.000000,805.500000,0.000000,...,7.000000,0.000000,214000.000000,0.000000,7.000000,1302.000000,168.000000,2001.000000,2004.000000,2009.000000
max,5095.000000,2065.000000,508.000000,8.000000,5644.000000,1526.000000,3.000000,2.000000,2336.000000,1012.000000,...,10.000000,800.000000,755000.000000,576.000000,15.000000,6110.000000,1424.000000,2010.000000,2010.000000,2010.000000

In [491]:
hme.isnull().sum()

1stFlrSF            0
2ndFlrSF            0
3SsnPorch           0
Alley            2721
BedroomAbvGr        0
BldgType            0
BsmtCond           82
BsmtExposure       82
BsmtFinSF1          1
BsmtFinSF2          1
BsmtFinType1       79
BsmtFinType2       80
BsmtFullBath        2
BsmtHalfBath        2
BsmtQual           81
BsmtUnfSF           1
CentralAir          0
Condition1          0
Condition2          0
Electrical          1
EnclosedPorch       0
ExterCond           0
ExterQual           0
Exterior1st         1
Exterior2nd         1
Fence            2348
FireplaceQu      1420
Fireplaces          0
Foundation          0
FullBath            0
                 ...
LowQualFinSF        0
MSSubClass          0
MSZoning            4
MasVnrArea         23
MasVnrType         24
MiscFeature      2814
MiscVal             0
MoSold              0
Neighborhood        0
OpenPorchSF         0
OverallCond         0
OverallQual         0
PavedDrive          0
PoolArea            0
PoolQC           2909
RoofMatl            0
RoofStyle           0
SaleCondition       0
SalePrice        1459
SaleType            1
ScreenPorch         0
Source              0
Street              0
TotRmsAbvGrd        0
TotalBsmtSF         1
Utilities           2
WoodDeckSF          0
YearBuilt           0
YearRemodAdd        0
YrSold              0
Length: 82, dtype: int64

In [492]:
hme['Id']

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
25        26
26        27
27        28
28        29
29        30
        ...
2889    2890
2890    2891
2891    2892
2892    2893
2893    2894
2894    2895
2895    2896
2896    2897
2897    2898
2898    2899
2899    2900
2900    2901
2901    2902
2902    2903
2903    2904
2904    2905
2905    2906
2906    2907
2907    2908
2908    2909
2909    2910
2910    2911
2911    2912
2912    2913
2913    2914
2914    2915
2915    2916
2916    2917
2917    2918
2918    2919
Name: Id, Length: 2919, dtype: int64

In [493]:
hme = hme.dropna(thresh=2500, axis = 1)

In [494]:
hme.shape

(2919, 75)

In [495]:
hme = pd.DataFrame(home, columns =['Id','MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation',
       'BsmtExposure', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'GarageType', 'GarageYrBlt', 'GarageCars', 'GarageArea',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice','Source'])

In [496]:
hme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 69 columns):
Id               2919 non-null int64
MSSubClass       2919 non-null int64
MSZoning         2915 non-null object
LotFrontage      2433 non-null float64
LotArea          2919 non-null int64
Street           2919 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2917 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
MasVnrType       2895 non-null object
MasVnrArea       2896 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtExposure     2837 non-null object
BsmtFinSF1       2918 non-null float64
BsmtFinType2     2839 non-null object
BsmtFinSF2       2918 non-null float64
BsmtUnfSF        2918 non-null float64
TotalBsmtSF      2918 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2918 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2918 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2917 non-null object
Fireplaces       2919 non-null int64
GarageType       2762 non-null object
GarageYrBlt      2760 non-null float64
GarageCars       2918 non-null float64
GarageArea       2918 non-null float64
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SalePrice        1460 non-null float64
Source           2919 non-null object
dtypes: float64(12), int64(26), object(31)
memory usage: 1.5+ MB

In [497]:
hme['BsmtFinSF1'].value_counts().head()

0.0      929
24.0      27
16.0      14
300.0      9
288.0      8
Name: BsmtFinSF1, dtype: int64

In [498]:
hme['BsmtFinSF2'].value_counts().head()

0.0      2571
294.0       5
180.0       5
162.0       3
539.0       3
Name: BsmtFinSF2, dtype: int64

In [499]:
hme['BsmtUnfSF'].value_counts().head()

0.0      241
384.0     19
728.0     14
672.0     13
600.0     12
Name: BsmtUnfSF, dtype: int64

In [500]:
hme['TotalBsmtSF'].value_counts().head()

0.0       78
864.0     74
672.0     29
912.0     26
1040.0    25
Name: TotalBsmtSF, dtype: int64

In [501]:
hme['BsmtFullBath'].value_counts().head()

0.0    1705
1.0    1172
2.0      38
3.0       2
Name: BsmtFullBath, dtype: int64

In [502]:
hme['BsmtHalfBath'].value_counts().head()

0.0    2742
1.0     171
2.0       4
Name: BsmtHalfBath, dtype: int64

In [503]:
hme['Functional'].value_counts().head()

Typ     2717
Min2      70
Min1      65
Mod       35
Maj1      19
Name: Functional, dtype: int64

In [504]:
hme['GarageCars'].value_counts().head()

2.0    1594
1.0     776
3.0     374
0.0     157
4.0      16
Name: GarageCars, dtype: int64

In [505]:
hme['GarageArea'].value_counts().head()

0.0      157
576.0     97
440.0     96
240.0     69
484.0     68
Name: GarageArea, dtype: int64

In [506]:
hme['KitchenQual'].value_counts().head()

TA    1492
Gd    1151
Ex     205
Fa      70
Name: KitchenQual, dtype: int64

In [507]:
hme['BsmtFinSF1'] = hme['BsmtFinSF1'].replace(np.nan,0.0)
hme['BsmtFinSF2'] = hme['BsmtFinSF2'].replace(np.nan,0.0)
hme['BsmtUnfSF'] = hme['BsmtUnfSF'].replace(np.nan,0.0)
hme['TotalBsmtSF'] = hme['TotalBsmtSF'].replace(np.nan,0.0)
hme['BsmtHalfBath'] = hme['BsmtHalfBath'].replace(np.nan,0.0)
hme['BsmtFullBath'] = hme['BsmtFullBath'].replace(np.nan,0.0)
hme['Functional'] = hme['Functional'].replace(np.nan,'Typ')
hme['GarageCars'] = hme['GarageCars'].replace(np.nan,2.0)
hme['GarageArea'] = hme['GarageArea'].replace(np.nan, 0.0)
hme['KitchenQual'] = hme['KitchenQual'].replace(np.nan, 'TA')

In [508]:
hme["MSZoning"].mode()

0    RL
dtype: object

In [509]:
hme["MSZoning"] = hme["MSZoning"].replace(np.nan,'RL')

In [510]:
hme['LotFrontage'].mean()

69.30579531442663

In [511]:
hme['LotFrontage'] = hme.fillna(hme['LotFrontage'].mean())

In [512]:
hme["Utilities"] = hme["Utilities"].replace(np.nan,'AllPub')

In [513]:
hme['MasVnrType'] = hme['MasVnrType'].replace(np.nan,'None')
hme['MasVnrType'] = hme['MasVnrType'].replace('None', 1)
hme['MasVnrType'] = hme['MasVnrType'].replace('BrkFace', 2)
hme['MasVnrType'] = hme['MasVnrType'].replace('Stone', 3)
hme['MasVnrType'] = hme['MasVnrType'].replace('BrkCmn', 4)

In [514]:
hme.MasVnrType.value_counts()

1    1766
2     879
3     249
4      25
Name: MasVnrType, dtype: int64

In [515]:
hme['MasVnrArea'] = hme['MasVnrArea'].replace(np.nan,0.00)

In [516]:
hme['Exterior1st'].value_counts()

VinylSd    1025
MetalSd     450
HdBoard     442
Wd Sdng     411
Plywood     221
CemntBd     126
BrkFace      87
WdShing      56
AsbShng      44
Stucco       43
BrkComm       6
AsphShn       2
Stone         2
CBlock        2
ImStucc       1
Name: Exterior1st, dtype: int64

In [517]:
hme['Exterior1st'] = hme['Exterior1st'].replace(np.nan,'VinylSd')
hme['Exterior2nd'] = hme['Exterior2nd'].replace(np.nan,'VinylSd')

In [518]:
hme["BsmtExposure"] = hme["BsmtExposure"].replace(np.nan,'No')
hme["BsmtExposure"] = hme["BsmtExposure"].replace('No',1)
hme["BsmtExposure"] = hme["BsmtExposure"].replace('Av',2)
hme["BsmtExposure"] = hme["BsmtExposure"].replace('Gd',3)
hme["BsmtExposure"] = hme["BsmtExposure"].replace('Mn',4)

In [519]:
hme["BsmtExposure"].value_counts()

1    1986
2     418
3     276
4     239
Name: BsmtExposure, dtype: int64

In [520]:
hme['BsmtFinType2'] = hme['BsmtFinType2'].replace(np.nan, 'Unf')
hme['BsmtFinType2'] = hme['BsmtFinType2'].replace('Unf', 1)
hme['BsmtFinType2'] = hme['BsmtFinType2'].replace('Rec', 2)
hme['BsmtFinType2'] = hme['BsmtFinType2'].replace('LwQ', 3)
hme['BsmtFinType2'] = hme['BsmtFinType2'].replace('BLQ', 4)
hme['BsmtFinType2'] = hme['BsmtFinType2'].replace('ALQ', 5)
hme['BsmtFinType2'] = hme['BsmtFinType2'].replace('GLQ', 6)

In [521]:
hme['BsmtFinType2'].value_counts()

1    2573
2     105
3      87
4      68
5      52
6      34
Name: BsmtFinType2, dtype: int64

In [522]:
hme["Electrical"] = hme["Electrical"].replace(np.nan, 'SBrkr')
hme["Electrical"] = hme["Electrical"].replace('SBrkr', 1)
hme["Electrical"] = hme["Electrical"].replace('FuseA', 2)
hme["Electrical"] = hme["Electrical"].replace('FuseF', 3)
hme["Electrical"] = hme["Electrical"].replace('FuseP', 4)
hme["Electrical"] = hme["Electrical"].replace('Mix', 5)

In [523]:
hme["Electrical"].value_counts()

1    2672
2     188
3      50
4       8
5       1
Name: Electrical, dtype: int64

In [524]:
hme["GarageType"] = hme["GarageType"].replace(np.nan, 'Attchd')
hme["GarageType"] = hme["GarageType"].replace('Attchd', 1)
hme["GarageType"] = hme["GarageType"].replace('Detchd', 2)
hme["GarageType"] = hme["GarageType"].replace('BuiltIn', 3)
hme["GarageType"] = hme["GarageType"].replace('Basment', 4)
hme["GarageType"] = hme["GarageType"].replace('CarPort', 5)
hme["GarageType"] = hme["GarageType"].replace('2Types', 6)

In [525]:
hme['GarageType'].value_counts()

1    1880
2     779
3     186
4      36
6      23
5      15
Name: GarageType, dtype: int64

In [526]:
hme['GarageYrBlt'] = hme['GarageYrBlt'].replace(np.nan, 2005)

In [527]:
hme['GarageYrBlt'].mode()

0    2005.0
dtype: float64

In [528]:
from sklearn.preprocessing import LabelEncoder

In [529]:
cat_var = ['MSZoning', 'LotFrontage', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
     'RoofStyle','RoofMatl', 'Exterior1st', 'Exterior2nd',
       'ExterQual', 'ExterCond', 'Foundation', 'Heating', 'HeatingQC',
       'CentralAir', 'KitchenQual','Functional', 
       'PavedDrive']
le = LabelEncoder()

In [530]:
hme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 69 columns):
Id               2919 non-null int64
MSSubClass       2919 non-null int64
MSZoning         2919 non-null object
LotFrontage      2919 non-null object
LotArea          2919 non-null int64
Street           2919 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2919 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2919 non-null object
Exterior2nd      2919 non-null object
MasVnrType       2919 non-null int64
MasVnrArea       2919 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtExposure     2919 non-null int64
BsmtFinSF1       2919 non-null float64
BsmtFinType2     2919 non-null int64
BsmtFinSF2       2919 non-null float64
BsmtUnfSF        2919 non-null float64
TotalBsmtSF      2919 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2919 non-null int64
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2919 non-null float64
BsmtHalfBath     2919 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2919 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2919 non-null object
Fireplaces       2919 non-null int64
GarageType       2919 non-null int64
GarageYrBlt      2919 non-null float64
GarageCars       2919 non-null float64
GarageArea       2919 non-null float64
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SalePrice        1460 non-null float64
Source           2919 non-null object
dtypes: float64(11), int64(31), object(27)
memory usage: 1.5+ MB

In [531]:
for var in cat_var:    
    le.fit(hme[var].values)    
    hme[var] = le.transform(hme[var].values)

In [532]:
hme.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice,Source
0,1,60,3,0,8450,1,3,3,0,4,...,61,0,0,0,0,0,2,2008,208500.0,Train
1,2,20,3,1,9600,1,3,3,0,2,...,0,0,0,0,0,0,5,2007,181500.0,Train
2,3,60,3,2,11250,1,0,3,0,4,...,42,0,0,0,0,0,9,2008,223500.0,Train
3,4,70,3,3,9550,1,0,3,0,0,...,35,272,0,0,0,0,2,2006,140000.0,Train
4,5,60,3,4,14260,1,0,3,0,2,...,84,0,0,0,0,0,12,2008,250000.0,Train

In [533]:
train = hme.loc[hme['Source'] == 'Train']
test = hme.loc[hme['Source'] == 'Test']

In [405]:
test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice,Source
1460,20,2,0,11622,1,3,3,0,4,0,...,0,0,0,120,0,0,6,2010,NaN,Test
1461,20,3,0,14267,1,0,3,0,0,0,...,36,0,0,0,0,12500,6,2010,NaN,Test
1462,60,3,5,13830,1,0,3,0,4,0,...,34,0,0,0,0,0,3,2010,NaN,Test
1463,60,3,5,9978,1,0,3,0,4,0,...,36,0,0,0,0,0,6,2010,NaN,Test
1464,120,3,11,5005,1,0,1,0,4,0,...,82,0,0,144,0,0,1,2010,NaN,Test

In [546]:
X = train.drop(["SalePrice","Source"], axis=1)

In [547]:
Y = train["SalePrice"]

In [548]:
X.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,3,0,8450,1,3,3,0,4,...,2,0,61,0,0,0,0,0,2,2008
1,2,20,3,1,9600,1,3,3,0,2,...,2,298,0,0,0,0,0,0,5,2007
2,3,60,3,2,11250,1,0,3,0,4,...,2,0,42,0,0,0,0,0,9,2008
3,4,70,3,3,9550,1,0,3,0,0,...,2,0,35,272,0,0,0,0,2,2006
4,5,60,3,4,14260,1,0,3,0,2,...,2,192,84,0,0,0,0,0,12,2008

In [535]:
len(y_test)

146

In [549]:
# import model 
from sklearn.linear_model import LinearRegression
 
# instantiate 
linreg = LinearRegression(n_jobs=100)
 
# fit the model to the training data (learn the coefficients) 
linreg.fit(X, Y,sample_weight=1000)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=100, normalize=False)

In [541]:
test = test.drop(['Source','SalePrice'], axis=1)

ValueError: labels ['Source' 'SalePrice'] not contained in axis

In [550]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
1460,1461,20,2,1460,11622,1,3,3,0,4,...,2,140,0,0,0,120,0,0,6,2010
1461,1462,20,3,1461,14267,1,0,3,0,0,...,2,393,36,0,0,0,0,12500,6,2010
1462,1463,60,3,1462,13830,1,0,3,0,4,...,2,212,34,0,0,0,0,0,3,2010
1463,1464,60,3,1463,9978,1,0,3,0,4,...,2,360,36,0,0,0,0,0,6,2010
1464,1465,120,3,1464,5005,1,0,1,0,4,...,2,0,82,0,0,144,0,0,1,2010

In [551]:
y_pred = linreg.predict(test)

In [552]:
Act_price = pd.read_csv("Documents/Compitition/sample_submission.csv")

In [553]:
Act_price.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [566]:
aa = pd.concat([test, Act_price],axis = 0,verify_integrity=True, ignore_index=False)

In [567]:
aa.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BldgType,BsmtExposure,BsmtFinSF1,BsmtFinSF2,BsmtFinType2,BsmtFullBath,...,SalePrice,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
1460,896.0,0.0,0.0,2.0,0.0,1.0,468.0,144.0,3.0,0.0,...,NaN,120.0,1.0,5.0,882.0,0.0,140.0,1961.0,1961.0,2010.0
1461,1329.0,0.0,0.0,3.0,0.0,1.0,923.0,0.0,1.0,0.0,...,NaN,0.0,1.0,6.0,1329.0,0.0,393.0,1958.0,1958.0,2010.0
1462,928.0,701.0,0.0,3.0,0.0,1.0,791.0,0.0,1.0,0.0,...,NaN,0.0,1.0,6.0,928.0,0.0,212.0,1997.0,1998.0,2010.0
1463,926.0,678.0,0.0,3.0,0.0,1.0,602.0,0.0,1.0,0.0,...,NaN,0.0,1.0,7.0,926.0,0.0,360.0,1998.0,1998.0,2010.0
1464,1280.0,0.0,0.0,2.0,4.0,1.0,263.0,0.0,1.0,0.0,...,NaN,144.0,1.0,5.0,1280.0,0.0,0.0,1992.0,1992.0,2010.0

In [556]:
from sklearn import metrics
# calculate RMSE using scikit-learn 
print(np.sqrt(metrics.mean_squared_error(Act_price, y_pred)))

ValueError: y_true and y_pred have different number of output (2!=1)

In [551]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score
# Random Forest 
rf = RandomForestClassifier() 
print(cross_val_score(rf, X_train, y_test, cv=5, scoring='accuracy').mean())

ValueError: Found input variables with inconsistent numbers of samples: [1095, 365]

In [582]:
list(zip(y_test, y_pred))

[(231500, 215054.77001545741),
 (179500, 160164.18893588264),
 (122000, 94462.209919062909),
 (84500, 52211.82970732078),
 (142000, 146660.68111353996),
 (325624, 315436.8798642389),
 (285000, 311113.59635020408),
 (151000, 137493.05114673288),
 (195000, 216995.49649819103),
 (275000, 262405.08353101299),
 (175000, 200601.98401156859),
 (61000, 49684.674191022525),
 (174000, 213863.2256380301),
 (385000, 362235.21357926587),
 (230000, 241799.82657870441),
 (87000, 119898.86978298845),
 (125000, 95346.654570211191),
 (98600, 122069.42153979023),
 (260000, 292445.86994577106),
 (143000, 109001.97134967661),
 (124000, 108605.99166361988),
 (122500, 115967.60831919406),
 (236500, 242141.70689145359),
 (337500, 353719.65485630371),
 (76000, 84089.567924173782),
 (187000, 218949.44563167682),
 (128000, 146991.3947582054),
 (179000, 177713.45403074613),
 (485000, 410625.26794122707),
 (122500, 116132.79650455597),
 (106000, 131499.63911404507),
 (118000, 122839.46026073676),
 (127000, 116054.03580999514),
 (80000, 77190.23635192751),
 (153000, 172767.52194327023),
 (360000, 329556.1002615554),
 (132000, 132018.50834871177),
 (85500, 81030.049777484266),
 (262280, 273991.03081781138),
 (112000, 91995.982880442403),
 (131000, 124029.94930519117),
 (139000, 149977.04218719364),
 (87000, 97867.603081146954),
 (135000, 122658.72793162591),
 (181000, 156807.74456362566),
 (163500, 199694.4719308659),
 (116900, 129394.13560245442),
 (159895, 200085.02121100249),
 (244600, 228474.01482751896),
 (294000, 275145.82967966562),
 (97000, 106882.3268246043),
 (295000, 334798.97941406362),
 (120500, 90269.337049458642),
 (239500, 253683.68250462203),
 (194000, 206734.34693036601),
 (115000, 86681.304243176943),
 (119500, 106800.58616373641),
 (180000, 169643.36794309178),
 (118000, 95248.505445179297),
 (178000, 190126.55744685442),
 (167000, 176987.00625217264),
 (267000, 268957.45569245634),
 (82000, 79251.727568202419),
 (133900, 103223.9729273296),
 (167000, 183643.12244195398),
 (132500, 142890.85267060809),
 (135000, 132065.22014477686),
 (248000, 243588.92460487038),
 (160000, 159060.44665190205),
 (144500, 143785.08342076861),
 (200500, 241594.60617694608),
 (113000, 53510.208516145591),
 (354000, 319484.49742074125)]

In [587]:
!pip install tensorflow

Collecting tensorflow
  Using cached tensorflow-1.6.0-cp36-cp36m-win_amd64.whl
Requirement already satisfied: gast>=0.2.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Collecting tensorboard<1.7.0,>=1.6.0 (from tensorflow)
  Using cached tensorboard-1.6.0-py3-none-any.whl
Requirement already satisfied: astor>=0.6.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: wheel>=0.26 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: absl-py>=0.1.6 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: termcolor>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: protobuf>=3.4.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: grpcio>=1.8.6 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Collecting markdown>=2.6.8 (from tensorboard<1.7.0,>=1.6.0->tensorflow)
  Using cached Markdown-2.6.11-py2.py3-none-any.whl
Requirement already satisfied: werkzeug>=0.11.10 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<1.7.0,>=1.6.0->tensorflow)
Collecting bleach==1.5.0 (from tensorboard<1.7.0,>=1.6.0->tensorflow)
  Using cached bleach-1.5.0-py2.py3-none-any.whl
Collecting html5lib==0.9999999 (from tensorboard<1.7.0,>=1.6.0->tensorflow)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.4.0->tensorflow)
Installing collected packages: markdown, html5lib, bleach, tensorboard, tensorflow
  Found existing installation: html5lib 0.999999999
    Uninstalling html5lib-0.999999999:

Exception:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 544, in move
    os.rename(src, real_dst)
PermissionError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\html5lib-0.999999999-py3.6.egg-info' -> 'C:\\Users\\swaps\\AppData\\Local\\Temp\\pip-7qamuq20-uninstall\\programdata\\anaconda3\\lib\\site-packages\\html5lib-0.999999999-py3.6.egg-info'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\basecommand.py", line 215, in main
    status = self.run(options, args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\commands\install.py", line 342, in run
    prefix=options.prefix_path,
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\req\req_set.py", line 778, in install
    requirement.uninstall(auto_confirm=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\req\req_install.py", line 754, in uninstall
    paths_to_remove.remove(auto_confirm)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\req\req_uninstall.py", line 115, in remove
    renames(path, new_path)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\utils\__init__.py", line 267, in renames
    shutil.move(old, new)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 556, in move
    rmtree(src)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 494, in rmtree
    return _rmtree_unsafe(path, onerror)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 389, in _rmtree_unsafe
    onerror(os.unlink, fullname, sys.exc_info())
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 387, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\html5lib-0.999999999-py3.6.egg-info\\dependency_links.txt'
You are using pip version 9.0.1, however version 9.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [586]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'